<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controle suas finanças</title>

  <link rel="stylesheet" href="../css/index.css">
  <script src="../scripts/index.js" defer type="module"></script>
</head>
<body>
  
   <main id="container">
    <nav id="navigation">
      <div id="btn-grop">
        <button class="btn-nav" id="mekeTransactions" data-transactions="new">Fazer Transação</button>
        <button class="btn-nav" id="editTransaction" data-transactions="edit">Editar Transação</button>
        <button class="btn-nav" id="deleteTransaction" data-transactions="delete">Exluir Transação</button>
      </div>
      <div>
        <span class="balance-value" >R$:</span>
        <span id="balanceSpan" class="balance-value">0</span>
      </div>
    </nav>

    <form id="formInput"></form>
    <div id="content"></div>
   </main>
</html>