
/* A cor em hexadecimal é RRGGBB tendo uma dezena de numero para cada aspectos da cor rgb*/
.cor1 {
  color: #ff4587;
}
.cor2 {
  color: #ff4ff7;
}
.cor3 {
  color: #554587;
}
.cor4 {
  color: #341587;
}
.cor5 {
  color: #f8f457;
}
.cor6 {
  color: #346587;
}